<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acab7a">  <td>23/12/11 16:01:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestCase.excutor()[pri:0, instance:Test_Case_Packg.Patch_TestCase@60b4beb4]">excutor</td> 
  <td>main@1118840610</td>   <td></td> </tr>
<tr bgcolor="6fd5a0">  <td>23/12/11 16:02:05</td>   <td>7136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestCase.excutor()[pri:0, instance:Test_Case_Packg.Post_TestCase@1bd39d3c]">excutor</td> 
  <td>main@1118840610</td>   <td></td> </tr>
<tr bgcolor="e7619d">  <td>23/12/11 16:02:07</td>   <td>8640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestCase.excutor()[pri:0, instance:Test_Case_Packg.Put_TestCase@6f19ac19]">excutor</td> 
  <td>main@1118840610</td>   <td></td> </tr>
<tr bgcolor="bee280">  <td>23/12/11 16:02:08</td>   <td>10281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestCase.excutor()[pri:0, instance:Test_Case_Packg.Get_TestCase@119cbf96]">excutor</td> 
  <td>main@1118840610</td>   <td></td> </tr>
</table>
